<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">

      <view 
            category="org.eclipse.emf.henshin.variability.ui"
            class="org.eclipse.emf.henshin.variability.ui.views.VariabilityView"
            icon="icons/variability.gif"
            id="org.eclipse.emf.henshin.variability.ui.views.VariabilityView"
            name="Variability">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="org.eclipse.emf.henshin.variability.ui.views.VariabilityView"
               ratio="0.7"
               relationship="right"
               relative="org.eclipse.ui.editorss"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension point="org.eclipse.ui.commands">
  </extension>
  <extension point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.eclipse.emf.henshin.variability.ui.objectContribution.ModuleEditPart2"
            objectClass="org.eclipse.emf.henshin.diagram.edit.parts.RuleEditPart">
         <action
               class="org.eclipse.emf.henshin.variability.configuration.ui.actions.FindPresenceConditionsAction"
               enablesFor="1"
               id="org.eclipse.emf.henshin.variability.ui.popup.FindPresenceConditionsActionID"
               label="&amp;Find Presence Conditions"
               >
         </action>
     </objectContribution>

          <objectContribution
            id="org.eclipse.emf.henshin.variability.ui.objectContribution.ModuleEditPart2"
            objectClass="org.eclipse.gef.editparts.AbstractEditPart"> 

            <action
               class="org.eclipse.emf.henshin.variability.configuration.ui.actions.MoveElementToConfigurationAction"
               enablesFor="+"
               id="org.eclipse.emf.henshin.variability.ui.popup.MoveElementToConfigurationActionID"
               label="&amp;Move to active configuration">
         </action>
     </objectContribution>
</extension>
  <extension
        point="org.eclipse.ui.menus">
  </extension>
</plugin>
